html,
body,
.app,
.container {
  position : relative;
  min-width: 500px;
  height: 100%;
  font-family : arial, "微软雅黑";
  touch-action: none;
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  transform: translateX(100px)
  opacity 0
}

.slide-right-enter,
.slide-left-leave-active {
  transform: translateX(-100px)
  opacity 0;
}

.slide-down-enter,
.slide-up-leave-active {
  transform: translateY(100px)
  opacity 0;
}

.slide-up-enter,
.slide-down-leave-active {
  transform: translateY(-100px)
  opacity 0
}

::-webkit-scrollbar {
    display: none;
}

.form {
  width 300px;
  margin 0 auto;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.print .refresh-wrap {
  visibility: hidden;
}


.table-wrap {
  table {
  border-collapse: collapse;

  th, td {
    border: solid 1px #999;
    padding: 5px 10px;
    text-align: center;
  }
}}
